.button {
    display: block;
    padding: 12px;
    margin-top:15px;
    font-weight: 700;
    font-size: 22px;
    color: var(--secondaryTextColor);
    border: 1px solid var(--secondaryTextColor);
    border-radius: 8px;
    background-color: transparent;
    transition: background-color var(--mainDuration) var(--mainTimingFunction), color var(--mainDuration) var(--mainTimingFunction);


    @media screen and (min-width: 1200px) {
        letter-spacing: 0.16em;
    }

    &:hover {
        color:var(--accentColor);
        background-color: var(--secondaryTextColor);
    }
    &:focus {
        color:var(--accentColor);
        background-color: var(--secondaryTextColor);
    }
}