.filter {
    margin-bottom: 25px;
  }
  
  .filter__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  
    color: #000000;
    font-size: 25px;
  }
  
  .filter__label + input {
    height: 25px;
    width: 200px;
  
    border: 3px solid #9b0012;
  
    border-radius: 3px;
  
    font-size: 20px;
    font-weight: 500;
  
    cursor: pointer;
  
    color: #bc8f8f;
  }
  