.form__button {
    width: 150px;
    height: 30px;
    color: rgb(1, 36, 36);
    background-color: aqua;
    align-items: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
  
  .form > label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  
    color: rgb(1, 36, 36);
    font-size: 22px;
  }
  
  .form input {
    height: 25px;
    width: 250px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
  
    color: rgb(1, 36, 36);
  }
  