.footer {
    padding: 60px 0px;
    margin-bottom: auto;
    background-color: var(--secondaryBackgroundColor);
  }
  
  .footer-thumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }